.btn {
  padding: 20px 50px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 30px;

  @media only screen and (max-width: 600px) {
    padding: 10px 30px;
    font-size: 14px;
  }
}

.btn.btn__header {
  background-color: rgb(11, 166, 119);
  color: white;
  border: 1px solid white;
  transition: all 1s ease;
}
.btn.btn__header:hover {
  transform: translateY(-7px);
  box-shadow: 1px 5px 10px black;
  color: $color-green;
  background-color: white;
}

.btn.btn__header.btn__header--two {
  margin-top: 50px;
}

.btn.btn__header.btn__header--two:hover {
  text-shadow: 1px 1px 1px black;

  box-shadow: 2px 4px 6px 2px $color-green-dark;
}
